<p>users works!</p>
<br/>
<form [formGroup]="loginForm" (ngSubmit)="onClickSave()">
    First name:
    <input formControlName="firstName"/>
    <div *ngIf="submitted && loginForm.controls.firstName.errors"
    class="alert alert-danger" style="color: red;">

        <div *ngIf="loginForm.controls.firstName.errors.required">
            FirstName is required.
        </div>
    </div>
    <br/>
    Last name:
    <input formControlName="lastName"/>
    <div *ngIf="submitted && loginForm.controls.lastName.errors"
    class="alert alert-danger" style="color: red;">

        <div *ngIf="loginForm.controls.lastName.errors.required">
            LastName is required.
        </div>
    </div>
    <br/>
    <button>Save</button>
    <br/>
</form>
<br/>
Count = {{count}}
<br/>
<ul *ngIf="show">
    <li *ngFor="let user of users;index as i" #status (click)="status.value=onClickuser(i);" [ngClass]="status.value ? 'strikethrough' : ''">
            {{user}}
    </li>
</ul>